.calc-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 3rem 3rem 3rem 3rem 3rem 3rem;
  grid-gap: 1px 1px;
  background-color: #c2c2c2;
  width: 400px;
  margin: 0 auto;
}

.calc-display {
  grid-column: 1 / span 4;
  background-color: #858692;
  padding: 1rem;
  color: white;
  font-size: 1rem;
  text-align: right;
}

.calc-container > *:nth-child(18) {
  grid-column: 1 / span 2;
}

button[class$='btn'] {
  border: none;
}

button[class^='orange'] {
  background-color: #f5913e;
  transition: background-color 1s;
}

button[class^='orange']:hover {
  background-color: #d37c36;
  cursor: pointer;
}

button[class^='gray'] {
  background-color: #e0e0e0;
  transition: background-color 1s;
}

button[class^='gray']:hover {
  background-color: #b8b8b8;
  cursor: pointer;
}
